In [4]:
import numpy as np
from pandas import DataFrame
from fastkml import kml

In [5]:
with open('./scores.txt', 'r') as f:
    scores = f.read().split('\n\n')

In [6]:
def to_dict(s):
    
    lines = s.split('\n')
    ratings = s.split('\n')[1].replace('\xf0\x9f\x94\xa5', '')
    fball = True if '\xf0\x9f\x94\xa5' in s else False
    desc = ' '.join(lines[2:]) if len(s) > 2 else ''
    
    return{
        'name': lines[0].lower(),
        'place': float(ratings.split('/')[0]),
        'people': float(ratings.split('/')[1]),
        'price': float(ratings.split('/')[2]),
        'fball': fball,
        'desc': desc
    }

In [7]:
data = DataFrame([to_dict(s) for s in scores])

In [9]:
k = kml.KML()
with open('./data.kml', 'r') as f:
    k.from_string(f.read())
folders = [a for a in [a for a in k.features()][0].features()]
visited = [a for a in folders[1].features()]

In [10]:
from datetime import datetime as dt

In [11]:
def map_dict(m):
    
    desc = m.description
    # print len(desc.split('<br>'))
    
    who, date = '', ''
    
    if len(desc.split('<br>')) == 1:
        if 'with' in m.description.split('<br>')[0].lower():
            who = m.description.split('<br>')[0].lower()
            date = ''
        else:
            date = m.description.split('<br>')[0]
            who = ''
    
    if len(desc.split('<br>')) == 2:
        if 'with' in m.description.split('<br>')[0].lower():
            who = m.description.split('<br>')[0].lower()
            date = m.description.split('<br>')[1]
        else:
            date = m.description.split('<br>')[0]
            who = m.description.split('<br>')[1].lower()
    
    if len(desc.split('<br>')) > 2:
        date, who = '', ''
    
    if len(date) > 0:
        date = dt.strptime(date, '%d/%m/%Y')
    
    return {
        'name': m.name,
        'x': float(m.geometry.coords[0][:2][0]),
        'y': float(m.geometry.coords[0][:2][1]),
        'who': who,
        'date': date
    }

In [12]:
map_data = DataFrame([map_dict(v) for v in visited])

In [13]:
map_data

,date,name,who,x,y
0,NaT,"Beehive, Brixton",,-0.114235,51.464071
1,2017-01-13,Plough and Harrow,with kenneth,-0.231416,51.492693
2,2017-01-13,William Morris,with kenneth,-0.225338,51.493021
3,NaT,The Half Moon,with bate,-0.045930,51.522096
4,NaT,The Rockingham Arms,"with bate, paddy, and ash",-0.099671,51.496000
5,2017-01-22,Wetherspoons,with andrea,-0.143911,51.495196
6,2017-01-22,Willow Walk,with andrea,-0.142857,51.495265
7,2017-01-19,Hudson Bay,,0.026551,51.545373
8,2017-01-19,Golden Grove,,0.004026,51.544041
9,2017-01-25,Baxter's Court,with bate,-0.054979,51.545320
10,2017-02-08,New Crown,,-0.130512,51.633427
11,2017-02-08,Spouter's Corner,,-0.108742,51.596913
12,2017-02-13,The Montagu Pyke,,-0.129784,51.514013
13,2017-02-17,Moon & Stars,,-0.050472,51.412371
14,2017-02-17,Richmal Crompton\n,,0.016437,51.399316
15,2017-02-17,Greyhound,,0.013129,51.406021
16,2017-02-18,Railway,with batesy,-0.217299,51.461128
17,2017-02-18,Rocket,with batesy,-0.213440,51.464950
18,2017-02-18,Oyster Rooms,with batesy,-0.196359,51.480047
19,NaT,Asparagus,,-0.171404,51.469931
20,2017-03-03,Sir John Oldcastle,with batesy,-0.105853,51.519843
21,2017-03-03,Barking Dog,with batesy,0.082170,51.540181
22,2017-03-03,The Drum,"with batesy, ellie, and hassan",-0.013781,51.574909
23,2017-03-03,Walnut Tree,with batesy and ellie,0.012660,51.569721
24,2017-03-08,Shakespeares Head,"with juliette, batesy, mike",-0.119498,51.516988
25,2017-03-08,Penderels Oak,,-0.114992,51.517923
26,2017-03-08,Knights Templar,,-0.111988,51.515400
27,2017-03-25,Ledger Building,,-0.024596,51.508048
28,2017-03-25,Gate Clock,,-0.017665,51.481366
29,2017-03-25,Surrey Docks,,-0.046467,51.492987
30,2017-04-07,Coronet,,-0.115753,51.555662
31,2017-04-07,White Swan,,-0.103354,51.545703
32,2017-03-31,Moon Under Water,"with pad, burg, luke",-0.129325,51.510292
33,2017-03-25,Pommelers Rest,,-0.077218,51.502377
34,2017-04-02,Ice Wharf,"with burg, bate, luke",-0.145537,51.540377
35,2017-04-13,Metropolitan Bar,with batesy,-0.156190,51.522469
36,2017-02-03,Angel,,-0.106494,51.532241
37,2017-04-13,Beaten Docket,,-0.211315,51.552953
38,2017-04-13,JJ Moons (Wembley),,-0.290365,51.553460
39,2017-04-13,JJ Moons (Kingsbury),,-0.279722,51.584323
40,2017-04-21,George,with elliot,0.028153,51.574936
41,2017-04-21,Hamilton Hall,with elliot and batesy,-0.081067,51.518451

In [16]:
from geopy.distance import great_circle
dists = [great_circle((m[1].y, m[1].x), (51.5148, 0.0651)).miles for m in map_data.iterrows()]

In [17]:
map_data['dists'] = dists

In [18]:
len(map_data)

42

In [19]:
len(data)

38

In [41]:
a = data.ix[14]['name'].lower()

In [42]:
a

"holborn the shakespeare's head"

In [40]:
b = map_data.ix[24]['name'].lower()

In [43]:
b

'shakespeares head'

In [45]:
len(data), len(map_data)

(38, 42)

In [ ]:
regex.search('(?:' + a)')